.detail-container {
  display: flex;
  gap: 20px;
  margin: 30px;
}

.image-box img {
  width: 300px;
  border-radius: 6px;
}

.info-box {
  font-size: 18px;
}

.add-btn, .back-btn {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}
