<footer class="footer">
    <!-- Phần Newsletter đen -->
    <div class="newsletter">
        <div class="container">
            <div class="newsletter-left">
                <h2>STAY UPTO DATE ABOUT<br>OUR LATEST OFFERS</h2>
            </div>
            <div class="newsletter-right">
                <form class="newsletter-form">
                    <input type="email" placeholder="Enter your email address" class="newsletter-input">
                    <button class="btn-subscribe">Subscribe to Newsletter</button>
                </form>
            </div>
        </div>
    </div>

    <div class="footer-main">
        <div class="container">
            <div class="footer-grid">

                <!-- Cột 1: Logo + mô tả + social -->
                <div class="footer-brand">
                    <h3 class="logo">SHOP.CO</h3>
                    <p>We have clothes that suits your style and which you’re proud to wear. From women to men.</p>
                    <div class="social-icons">
                        <a href="#" class="social-icon">Twitter</a>
                        <a href="#" class="social-icon">Facebook</a>
                        <a href="#" class="social-icon">Instagram</a>
                        <a href="#" class="social-icon">GitHub</a>
                    </div>
                </div>

                <div class="footer-col">
                    <h4>COMPANY</h4>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Works</a></li>
                        <li><a href="#">Career</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>HELP</h4>
                    <ul>
                        <li><a href="#">Customer Support</a></li>
                        <li><a href="#">Delivery Details</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>FAQ</h4>
                    <ul>
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Manage Deliveries</a></li>
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">Payments</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>RESOURCES</h4>
                    <ul>
                        <li><a href="#">Free eBooks</a></li>
                        <li><a href="#">Development Tutorial</a></li>
                        <li><a href="#">How to - Blog</a></li>
                        <li><a href="#">Youtube Playlist</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">
                <p class="copyright">Shop.co © 2000-2023, All Rights Reserved</p>
                <div class="payment-icons">
                    <img src="https://img.icons8.com/color/48/000000/visa.png" alt="visa">
                    <img src="https://img.icons8.com/color/48/000000/mastercard.png" alt="mastercard">
                    <img src="https://img.icons8.com/color/48/000000/paypal.png" alt="paypal">
                    <img src="https://img.icons8.com/color/48/000000/apple-pay.png" alt="apple pay">
                    <img src="https://img.icons8.com/color/48/000000/google-pay.png" alt="g-pay">
                </div>
            </div>
        </div>
    </div>
</footer>